// 1. Base scale non-linear scale https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
// 2. Base scale on fluid typography (em) https://www.creativebloq.com/how-to/design-a-responsive-site-with-em-based-sizing

// Transitions
$transition-hover: .2s ease
$transition-lazy: .2s ease-in // Page + image fade-in's
$transition-theme: .2s ease-in
$transition-space-vertical: .3s ease-in .2s

// Breakpoints
$breakpoint-mobile: 800px
$spacemode-width: 1150px

// Custom variables
body
  // --background-color: hsl(0,0%,100%)
  // --space-color: hsl(0,0%,0%)
  // --type-color: black
  // --active-color: white
  // --interactive-color: #00FF3F
  // --background-selection: #00FF3F
  --type-color: #A5FEE8
  --active-color: #A5FEE8
  --interactive-color: #A5FEE8

body
  --spacing-one: 1rem
  --spacing-two: 2rem
  --spacing-icons: 1.5rem
  --spacing-icons-double: 3rem
  --spacing-icons-tripple: 4.5rem // Header slider

@keyframes hyperLink
  0%
    width: 0%
  100%
    width: 100%

@keyframes hyperHyperLink
  0%
    width: 100%
    left: auto
    right: 0
  50%
    width: 0%
    left: auto
    right: 0
  51%
    width: 0%
    left: 0
    right: auto
  100%
    left: 0
    right: auto
    width: 100%
