// 1. Base scale non-linear scale https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
// 2. Base scale on fluid typography (em) https://www.creativebloq.com/how-to/design-a-responsive-site-with-em-based-sizing

// Transitions
$transition-hover: .2s ease
$transition-hover-neon: .2s ease .2s
$transition-lazy: .33s ease-in // Image fade-in's

// Breakpoints
$breakpoint-mobile: 800px
$spacemode-width: 1150px

// Colors
// Light
$light-color: #000
$light-bg: #fff
$dark-block-color: #fff
$dark-block-bg: #222
// Dark
$dark-color: #fff
$dark-bg: #222
$dark-block-color: #000
$dark-block-bg: white

body
  // Custom variables
  --color: white
  --color-faded: .3
  --background: #222
  --block-background: white
  --block-color: black
  --active-background: var(--color)
  --active-color: black
  --interactive-color: var(--color)
  --border-width: 2px
  --border-color: var(--block-color)
  --border: var(--border-width) solid var(--border-color)
  --selection-background: var(--color)
  --selection-color: white

  // Custom variables
  --spacing-one: 1rem
  --spacing-two: 2rem
  --spacing-icons: 1.5rem
  --spacing-icons-double: 3rem
  --spacing-icons-tripple: 4.5rem // Header slider
  --spacing-icons: 30px
  --spacing-icons-double: 60px
  --spacing-icons-tripple: 90px

  --block-sides: 30px

@keyframes hyperLink
  0%
    width: 0%
  100%
    width: 100%

@keyframes hyperHyperLink
  0%
    width: 100%
    left: auto
    right: 0
  50%
    width: 0%
    left: auto
    right: 0
  51%
    width: 0%
    left: 0
    right: auto
  100%
    left: 0
    right: auto
    width: 100%

@keyframes excited
  0%
    transform: translate(2px, -1px)
  12.5%
    transform: translate(-1px, -1px)
  25%
    transform: translate(1px, 2px)
  37.5%
    transform: translate(-1px, 1px)
  50%
    transform: translate(-2px, -1px)
  62.5%
    transform: translate(1px, 1px)
  75%
    transform: translate(-1px, 2px)
  82.5%
    transform: translate(-2px, -2px)
  100%
    transform: translate(1px, 1px)
