// GENERAL
html, body, #__layout, #__nuxt, main, .transitionWrapper, .view, .page // Avoiding 100vh to better suit mobile browsers
  position: relative
  width: 100%
  min-height: 100%

// Fundamental elements
img
  width: 100%
  user-select: none

.lazy
  opacity: 0
  transition: opacity $transition-lazy
  &[lazy="loaded"]
    opacity: 1

// STRUCTURE
body
  background: black
  color: var(--color)
  cursor: none
  min-height: 110vh
  p::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection , span::selection
    background: var(--selection-background)
    color: var(--selection-color)

main
  display: flex
  justify-content: center
  align-items: flex-start
  min-height: 100vh
  padding-top: calc(15rem + 10vmin)
  padding-bottom: 6rem

.cube
  &-Container
    width: 88vw
    display: flex
    flex-direction: column
    max-width: $spacemode-width
    @media screen and ( max-width: $breakpoint-mobile)
      width: calc(100% - 2rem)

section
  position: sticky
  top: 0
  margin-top: calc(0px - #{var(--border-width)})
  margin-left: auto
  margin-right: auto
  width: 100%
  border-left: var(--border)
  border-right: var(--border)
  border-top: var(--border)
  border-bottom: var(--border)
  background: var(--background)
  opacity: 0
  transform: translateY(3rem)

// ELEMENTS
.collaborate
  position: fixed
  left: 0
  bottom: 0
  background: var(--background)
  border: var(--border)
  margin-left: 2vw
  margin-bottom: 2vh
  z-index: +4
  cursor: pointer
  box-shadow: 0
  opacity: 0
  transition: box-shadow $transition-hover
  a
    padding-left: 1rem
    padding-right: 1rem
    line-height: 1.8
  &:hover
    @media ( hover: hover )
      animation: excited 0.165s ease infinite
      box-shadow: 0px 0px 10rem 2.25rem rgba(#B6FFF5, 0.33)

.spaceForm
  position: absolute
  top: -1px
  left: calc(0px - #{var(--border-width)})
  width: calc(100% + (2* #{var(--border-width)}))
  opacity: 0
  transform: translateY(-100%)
  pointer-events: none
  z-index: 0
  svg
    vertical-align: bottom
    color: var(--color)
    stroke-width: 2px
    backface-visibility: hidden
    @media screen and ( max-width: $breakpoint-mobile)
      stroke-width: 5px

#floatBlock
  backface-visibility: hidden

.icon
  position: relative
  opacity: 1
  height: var(--spacing-icons)
  width: var(--spacing-icons)
  user-select: none
  transition: opacity $transition-hover
  &-Arrow
    &_Prev, &_Next
      width: var(--spacing-icons-double)
    &_Prev
      transform: rotate(180deg)
  svg, img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: auto

.cursor
  position: fixed
  width: 3rem
  height: 3rem
  transform: translate(-50%, -50%)
  border-radius: 50%
  z-index: 999
  pointer-events: none
  opacity: 0
  &-Small, &-Large
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 50%
    transition: all .165s ease
  &-Small
    width: 1rem
    height: 1rem
    border: 2px solid var(--color)
  &.active
    .cursor-Small
      width: 2rem
      height: 2rem
  @media ( hover: none )
    display: none

.cursorInteract
  pointer-events: auto

.laserBlok
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: -1
  &-Line
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 101vw
    height: 101vh
    border: var(--border-width) solid var(--color)

.typeAnimation
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  display: flex
  justify-content: center
  align-items: center
  z-index: -1
  pointer-events: none
  &-Content
    @media (orientation: portrait)
      display: flex
      flex-direction: column
      align-items: center
  &-Word
    font-size: 8vw
    -webkit-text-fill-color: rgba(0,0,0,0)
    -webkit-text-stroke-width: var(--border-width)
    -webkit-text-stroke-color: var(--color)
    opacity: 0
    @media (orientation: portrait)
      font-size: 15vw
  &-One, &-Two
    margin-right: .5em

// CONTENT
.contentListItem
  display: flex
  width: 100%
  padding-top: 1rem
  padding-bottom: 1rem
  &-List
    &:hover + .contentListItem-CoverImage
      @media ( hover: hover )
        opacity: 1
  &-CoverImage
    position: fixed
    bottom: 0
    right: 0
    width: 25vw
    min-width: 250px
    max-width: 360px
    overflow: hidden
    margin-right: 2rem
    margin-bottom: 5rem
    opacity: 0
    z-index: +2
    box-shadow: 0px 0px 10rem 2.25rem rgba(#B6FFF5, 0.33)
    pointer-events: none
    img
      border: var(--border)
  &-Column
    padding-left: var(--spacing-two)
    padding-right: var(--spacing-two)
    flex-shrink: 0
    &:first-child
      padding-left: var(--spacing-one)
      padding-right: var(--spacing-one)
    &:nth-child(2)
      padding-left: var(--spacing-one)
    &:last-child
      padding-right: var(--spacing-one)
    &.category, &.agency, &.year, &.title
      flex-shrink: 0
      white-space: nowrap
    &.category
      p
        display: inline
        &::after
          content: '&'
      p:last-child
        &::after
          content: ''
    &.search
      padding-left: 0
    @media screen and ( max-width: 1090px)
      &.agency
        display: none
    @media screen and ( max-width: 670px)
      &.category
        display: none
    @media screen and ( max-width: 500px)
      padding-left: 0
      padding-right: var(--spacing-one) !important
    &.icons
      display: flex
      justify-content: flex-end
      flex-grow: 1
  &-Icons
    display: flex
    height: 100%
    li
      display: flex
      align-items: center
  &-Space
    @media screen and ( max-width: 500px)
      display: none !important
  &-Icon
    margin-left: var(--spacing-two)
    flex-shrink: 0
    @media screen and ( max-width: $breakpoint-mobile)
      margin-left: var(--spacing-icons)
    .icon
      img, svg
        height: 100%
  &-Icon:first-child
    margin-left: 0
  &-Input
    input
      visibility: hidden
      opacity: 0
      width: 100%
      max-width: 100%
      padding: 0
      margin: 0
      transition: opacity $transition-hover
      cursor: none
      &:focus
        color: currentColor
      &::placeholder
        color: currentColor
        opacity: var(--color-faded)
    &.active
      input
        visibility: visible
        opacity: 1
  &-Search
    margin-left: var(--spacing-one)
  // Item category
  &-Header
    position: relative
    z-index: 900
    border: var(--border)
    pointer-events: none
    background: rgba(0,0,0,0)
    .spaceForm
      opacity: 1
    & .logo
      flex-grow: 1
      @media screen and ( max-width: $breakpoint-mobile)
        overflow: hidden
        min-width: 0
        text-overflow: ellipsis
        flex-shrink: 1
        white-space: nowrap
        padding-right: 0 !important
      @media screen and ( max-width: 500px)
        .logo-Subtitle
          display: none
    & .icons
      padding-left: 0 !important
  &-Filter
    li
      // text-transform: uppercase
    .title
      flex-shrink: 1
    p
      display: inline
    p
      opacity: var(--color-faded)
      transition: opacity $transition-hover
      &:hover
        @media ( hover: hover )
          opacity: 1
    .active
      p
        opacity: 1
    .icon
      opacity: var(--color-faded)
      &:hover
        @media ( hover: hover )
          opacity: 1
      &.active
        opacity: 1
    @media screen and ( max-width: $breakpoint-mobile) and ( min-width: 550px)
      .contentListItem-Column.icons
        display: none
  &-List
    transition: background $transition-hover, color $transition-hover, box-shadow $transition-hover
    box-shadow: 0
    p, svg
      opacity: var(--color-faded)
      transition: opacity $transition-hover
    &.active
      p, svg
        opacity: 1
      &:hover
        @media ( hover: hover )
          background: var(--active-background)
          box-shadow: 0px 0px 10rem 0.1px rgba(#B6FFF5, 1)
          color: var(--active-color)
          z-index: +1
  &-Images
    padding-left: var(--spacing-two)
    padding-right: var(--spacing-two)
    ul
      position: relative
    li
      margin-bottom: var(--spacing-one)
    li:last-child
      margin-bottom: 0
  &-Nav
    position: sticky
    top: 50vh
    transform: translateY(-50%)
    width: 100%
    height: auto
    display: flex
    justify-content: space-between
    z-index: 999
    &_Prev, &_Next
      position: absolute
      top: 1rem
    &_Prev
      left: var(--spacing-one)
    &_Next
      right: var(--spacing-one)
    svg
      height: var(--spacing-icons)
      color: var(--color)
  &-Footer
    .empty
      flex-grow: 1
    .icon-Arrow
      transform: rotate(-90deg)

// Imagegrid
.imageGrid
  @media screen and (orientation: landscape)
    min-height: 100vh
  &-Item
    width: 100%
    min-height: 0
    display: flex
    flex-direction: column
    align-items: center
    &_Wrapper
      width: 100%

// VIEWS
.view
  width: 100%
  max-width: 100%
  margin-left: auto
  margin-right: auto
  section
    &:first-of-type
      .spaceForm
        opacity: 1
        svg path
          fill: black !important
    &:last-of-type
      border-bottom: var(--border)
  &-About, &-Project
    li
      flex-basis: 50% !important // Overrides indexItem
    @media screen and ( max-width: 700px)
      .contentListItem
        flex-wrap: wrap
        li
          flex-basis: 100% !important // Overrides indexItem

// Mobile / Desktop
.mobileContent
  @media screen and ( min-width: 700px)
    display: none
