// GENERAL
html, body, #__layout, #__nuxt, main, .transitionWrapper, .view, .page // Avoiding 100vh to better suit mobile browsers
  position: relative
  width: 100%
  min-height: 100%

// Fundamental elements
img
  width: 100%
  user-select: none

.lazy
  opacity: 0
  transition: opacity $transition-lazy
  &[lazy="loaded"]
    opacity: 1

// Fundamental sections
body
  background: black
  color: var(--color)
  cursor: none
  p::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection , span::selection
    background: var(--selection-background)
    color: var(--selection-color)

.no-touch
  background: red
main
  display: flex
  justify-content: center
  align-items: flex-start
  min-height: 100vh
  padding-top: calc(15rem + 10vmin)
  padding-bottom: 6rem

.cube
  &-Container
    width: 88vw
    display: flex
    flex-direction: column
    max-width: $spacemode-width
    @media screen and ( max-width: $breakpoint-mobile)
      width: calc(100% - 2rem)

section
  position: sticky
  top: 0
  margin-top: -1px
  margin-left: auto
  margin-right: auto
  width: 100%
  border-left: var(--border)
  border-right: var(--border)
  border-top: var(--border)
  border-bottom: var(--border)
  background: var(--background)
  opacity: 0
  transform: translateY(33px)

.spaceForm
  position: absolute
  top: -1px
  left: 0
  right: 0
  width: 100%
  opacity: 0
  transform: translateY(-100%)
  pointer-events: none
  z-index: 0
  svg
    vertical-align: bottom
    color: var(--color)
    stroke-width: 2px
    backface-visibility: hidden
    @media screen and ( max-width: $breakpoint-mobile)
      stroke-width: 4px

#floatBlock
  backface-visibility: hidden

// Building blocks
.icon
  position: relative
  opacity: 1
  height: var(--spacing-icons)
  width: var(--spacing-icons)
  user-select: none
  transition: opacity $transition-hover
  &-Arrow
    &_Prev, &_Next
      width: var(--spacing-icons-double)
    &_Prev
      transform: rotate(180deg)
  svg, img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: auto

.cursor
  position: fixed
  width: 3rem
  height: 3rem
  transform: translate(-50%, -50%)
  border-radius: 50%
  z-index: 999
  pointer-events: none
  opacity: 0
  &-Small
    position: absolute
    width: 1rem
    height: 1rem
    border-radius: 50%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: currentColor
    transition: all .165s ease
  &.active
    .cursor-Small
      width: 100%
      height: 100%
      opacity: .33
  @media ( hover: none )
    display: none

.cursorInteract
  pointer-events: auto

.contentListItem
  display: flex
  width: 100%
  padding-top: 1rem
  padding-bottom: 1rem
  &-Column
    flex-basis: 20%
    padding-left: var(--spacing-one)
    padding-right: var(--spacing-one)
    flex-shrink: 0
    &.category
      flex-grow: 1
    &.search
      padding-left: 0
    @media screen and ( max-width: 1282px)
      flex-basis: 25%
      &.agency
        display: none
    @media screen and ( max-width: 1282px)
      flex-basis: 33.3%
      &.year
        flex-basis: 4.51rem
    @media screen and ( min-width: 550px ) and ( max-width: 1282px)
      &.category
        flex-basis: auto
        flex-grow: 1
    @media screen and ( max-width: 550px)
      &.category
        display: none
      &.title
        flex-basis: auto
        flex-grow: 1
    &.year
      flex-basis: 0rem
    &.icons
      flex-basis: auto !important
  &-Icons
    display: flex
    height: 100%
    li
      display: flex
      align-items: center
  &-Space
    @media screen and ( max-width: 500px)
      display: none !important
  &-Icon
    margin-left: var(--spacing-two)
    flex-shrink: 0
    @media screen and ( max-width: $breakpoint-mobile)
      margin-left: var(--spacing-icons)
    .icon
      img, svg
        height: 100%
  &-Icon:first-child
    margin-left: 0
  &-Input
    input
      visibility: hidden
      opacity: 0
      width: 100%
      max-width: 100%
      padding: 0
      margin: 0
      transition: opacity $transition-hover
      cursor: none
      &:focus
        color: currentColor
      &::placeholder
        color: currentColor
        opacity: .25
    &.active
      input
        visibility: visible
        opacity: 1
  &-Search
    margin-left: var(--spacing-one)
  // Item category
  &-Header
    position: relative
    z-index: 900
    border: var(--border)
    pointer-events: none
    // margin-bottom: -2px
    background: rgba(0,0,0,0)
    .spaceForm
      opacity: 1
    & .title
      flex-grow: 1
      @media screen and ( max-width: $breakpoint-mobile)
        span.title
          display: none
  &-Filter
    .title
      flex-shrink: 1
    p
      display: inline
    p
      opacity: var(--color-faded)
      transition: opacity $transition-hover
      &:hover
        @media ( hover: hover )
          opacity: 1
    .active
      p
        opacity: 1
    .icon
      opacity: var(--color-faded)
      &:hover
        @media ( hover: hover )
          opacity: 1
      &.active
        opacity: 1
    @media screen and ( max-width: $breakpoint-mobile) and ( min-width: 550px)
      .contentListItem-Column.icons
        display: none
  &-List
    transition: background $transition-hover, color $transition-hover
    &:hover
      @media ( hover: hover )
        background: var(--active-background)
        color: var(--active-color)
  &-Images
    padding-left: var(--spacing-two)
    padding-right: var(--spacing-two)
    ul
      position: relative
    li
      margin-bottom: var(--spacing-one)
    li:last-child
      margin-bottom: 0
  &-Nav
    position: sticky
    top: 50vh
    transform: translateY(-50%)
    width: 100%
    height: auto
    display: flex
    justify-content: space-between
    z-index: 999
    &_Prev, &_Next
      position: absolute
      top: 1rem
    &_Prev
      left: var(--spacing-one)
    &_Next
      right: var(--spacing-one)
    svg
      height: var(--spacing-icons)
      color: var(--color)

// Imagegrid
.imageGrid
  @media screen and (orientation: landscape)
    min-height: 100vh
  &-Item
    width: 100%
    min-height: 0
    display: flex
    flex-direction: column
    align-items: center
    &_Wrapper
      width: 100%

// Views
.view
  width: 100%
  max-width: 100%
  margin-left: auto
  margin-right: auto
  section
    &:first-of-type
      .spaceForm
        opacity: 1
    &:last-of-type
      border-bottom: var(--border)
  &-About, &-Project
    li
      flex-basis: 50% !important // Overrides indexItem
    @media screen and ( max-width: 700px)
      .contentListItem
        flex-wrap: wrap
        li
          flex-basis: 100% !important // Overrides indexItem

// Mobile / Desktop
.mobileContent
  @media screen and ( min-width: 700px)
    display: none
