// GENERAL
html, body, #__layout, #__nuxt, main, .transitionWrapper, .view, .page // Avoiding 100vh to better suit mobile browsers
  position: relative
  width: 100%
  min-height: 100%

// Fundamental elements
img
  opacity: 0
  width: 100%
  user-select: none

img[lazy="loaded"]
  opacity: 1

// Fundamental sections
body
  background: black
  color: var(--type-color)
  transition: color $transition-theme
  // p::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection , span::selection
  //   background: var(--background-selection)

main
  cursor: none
  padding-left: 0
  padding-top: 0
  padding-right: 0
  padding-bottom: 0
  min-height: 100vh

section
  position: relative
  background: black
  margin-left: auto
  margin-right: auto
  width: 100%
  max-width: 100%
  position: sticky
  top: 0

.spaceForm
  display: none
  position: absolute
  top: 0
  left: 0
  right: 0
  opacity: 0
  width: 100%
  transform: translateY(-100%)
  // color: var(--background-color) // TODO: remove?
  transition: background $transition-theme, border-bottom $transition-theme
  pointer-events: none
  z-index: 0
  color: rgba(0,0,0,0)
  svg
    vertical-align: bottom

// Building blocks
.icon // TODO: show animation constantly in spacemode
  position: relative
  opacity: 1
  height: var(--spacing-icons)
  width: var(--spacing-icons)
  user-select: none
  &-Arrow
    &_Prev, &_Next
      width: var(--spacing-icons-double)
    &_Prev
      transform: rotate(180deg)
  &-Space
    #fireIcon
      opacity: 0
    &:hover
      @media ( hover: hover )
        animation: vibrate .3s infinite
        #fireIcon
          animation: flicker .1s infinite
          opacity: 1
  svg, img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: auto

.cursor
  position: fixed
  width: 3rem
  height: 3rem
  transform: translate(-50%, -50%)
  border-radius: 50%
  z-index: 999
  pointer-events: none
  &-Instance
    position: absolute
    width: 1rem
    height: 1rem
    border-radius: 50%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: currentColor
    transition: all .165s ease
  &.active
    .cursor-Small
      width: 100%
      height: 100%
      opacity: .33
  @media ( hover: none )
    display: none

input[type="range"]
  appearance: none
  // background-color: currentColor
  width: var(--spacing-icons-tripple)
  height: 2px
  outline: none
  direction: rtl
  &::-webkit-slider-thumb
    appearance: none
    display: block
    border: 2px solid currentColor
    height: 25px
    width: 25px
    border-radius: 50%
    // background-color: currentColor

.capitalize
  text-transform: capitalize

.contentListItem
  display: flex
  width: 100%
  padding-top: 1rem
  padding-bottom: 1rem
  &-Column
    flex-basis: 16.6666%
    padding-left: var(--spacing-one)
    padding-right: var(--spacing-one)
    flex-shrink: 0
    &.title
      flex-grow: 1
    &.search
      padding-left: 0
    @media screen and ( max-width: 1105px)
      flex-basis: 25%
      &.agency
        display: none
    @media screen and ( max-width: 1105px)
      flex-basis: 33.3%
      &.year
        flex-basis: 4.51rem
    @media screen and ( max-width: 550px)
      &.category
        display: none
      &.title
        flex-basis: auto
    &.icons
      flex-basis: auto !important
    &.titleSearch
      flex-basis: auto !important
  &-Icons
    display: flex
    height: 100%
    li
      display: flex
      align-items: center
  &-Space
    @media screen and ( max-width: 500px)
      display: none !important
  &-Icon
    margin-left: var(--spacing-two)
    flex-shrink: 0
    @media screen and ( max-width: $breakpoint-mobile)
      margin-left: var(--spacing-icons)
    .icon
      img, svg
        height: 100%
  &-Icon:first-child
    margin-left: 0
  &-Input
    input
      visibility: hidden
      opacity: 0
      width: 100%
      max-width: 100%
      padding: 0
      margin: 0
      transition: opacity $transition-hover
      cursor: none
      &:focus
        color: currentColor
      &::placeholder
        color: currentColor
        opacity: .25
    &.active
      input
        visibility: visible
        opacity: 1
  &-Search
    margin-left: var(--spacing-one)
  // Item category
  &-Header
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 900
    transition: border-bottom $transition-space-vertical
    pointer-events: none
    // background: rgba(0,0,0,0)
    .cursorInteract
      pointer-events: auto
    &.projects, &.about
      // background: black
      background: rgba(0,0,0,0)
    &.about
      span
        visibility: hidden
    &.mixblend
      // mix-blend-mode: difference
      span, svg
        color: var(--type-color) // Overrides currentColor for mixblend to work
    & .title
      @media screen and ( max-width: $breakpoint-mobile)
        span.title
          display: none
  &-Filter
    position: sticky
    z-index: 999
    top: calc(2rem + 1.54rem)
    left: 0
    right: 0
    border-bottom: 1px solid var(--type-color)
    p
      display: inline
    p
      opacity: .25
      transition: opacity $transition-hover
      &:hover
        opacity: 1
    .icon
      opacity: .25
      transition: opacity $transition-hover
      &:hover
        opacity: 1
      &.active
        opacity: 1
    @media screen and ( max-width: $breakpoint-mobile) and ( min-width: 550px)
      .contentListItem-Column.icons
        display: none
  &-List
    border-bottom: 1px solid var(--type-color)
    position: relative
    background: black
    &:hover
      // background: var(--type-color)
      // color: var(--active-color)
  &-Images
    position: relative
    padding-left: var(--spacing-two)
    padding-right: var(--spacing-two)
    ul
      position: relative
    li
      margin-bottom: var(--spacing-one)
    li:last-child
      margin-bottom: 0
  &-Nav
    position: sticky
    top: 50vh
    transform: translateY(-50%)
    width: 100%
    height: auto
    display: flex
    justify-content: space-between
    // mix-blend-mode: difference
    z-index: 999
    &_Prev, &_Next
      position: absolute
      top: 1rem
    &_Prev
      left: var(--spacing-one)
    &_Next
      right: var(--spacing-one)
    svg
      height: var(--spacing-icons)
      color: var(--type-color)
    @media screen and (orientation: portrait) and ( max-width: 700px), (orientation: portrait)
      position: fixed
      top: var(--spacing-one)
      right: 3rem
      transform: translateY(1px)
      width: auto
      // mix-blend-mode: normal
      svg
        color: var(--type-color)
      &_Prev, &_Next
        position: relative
        top: auto
      &_Next
        margin-left: 3.5rem
  &-Nav.mixblendmode
    @media screen and (orientation: portrait) and ( max-width: 700px), (orientation: portrait)
      // mix-blend-mode: difference
      svg
        color: var(--type-color)

// Imagegrid
.imageGrid
  // background: var(--background-color)
  border-top: 0 !important
  margin-top: 0 !important
  @media screen and (orientation: landscape)
    min-height: 100vh
  img
    transition: opacity $transition-lazy
  &-Item
    width: 100%
    min-height: 0
    display: flex
    flex-direction: column
    align-items: center
    border-top: 1px solid var(--type-color)
    &_Wrapper
      width: 100%

// Views
.view
  width: 100%
  max-width: 100%
  margin-left: auto
  margin-right: auto
  &-Index, &-Project, &-About
    padding-top: 27.7778vh
  &-Index
    .imageGrid-Item:first-child
      border-top: 0
    .contentListItem-Header
      // background: var(--background-color)
  &-Project, &-About
    // background: var(--background-color)
    section
      border-top: 1px solid var(--type-color)
      border-bottom: 1px solid var(--type-color)
      margin-top: -1px
    section:nth-of-type(1)
      border-bottom: 0
      margin-top: 0
    section:nth-last-of-type(1)
      border-bottom: 0
  &-About
    li
      flex-basis: 50%
    @media screen and ( max-width: 700px)
      .contentListItem
        flex-wrap: wrap
        li
          flex-basis: 100%
        li:first-child
          margin-bottom: 1rem
          text-transform: capitalize
      .contentListItem-Text:first-of-type
        .contentListItem:first-child
          li:first-child
            display: none
  &-Project
    li
      flex-basis: 50% !important // Overrides indexItem
    @media screen and ( max-width: 700px)
      .contentListItem
        flex-wrap: wrap
        li
          flex-basis: 100% !important // Overrides indexItem
        li:first-child
          display: none
    section:nth-last-of-type(2)
      border-bottom: 0

// Spacemode
body.spaced
  // background: var(--space-color)

main.spaced
  padding-top: calc(15rem + 200px)
  padding-left: 8vw
  padding-right: 8vw
  padding-bottom: var(--spacing-two)
  .cursor
    &-Instance
      // background: var(--interactive-color)
  .view
    width: 100%
    max-width: $spacemode-width
    &-Index, &-Project, &-About
      padding-top: 0
    &-Project
      ul
        justify-content: flex-start
      .imageGrid
        margin-top: 0
    section:last-child
      border-bottom: 1px solid var(--type-color)
  section
    width: 100%
    max-width: $spacemode-width
    &:first-of-type // Enables all content to start with the same top distance
      &.contentListItem-Text
        border-top: 1px solid var(--type-color)
        ul
          padding-top: 1rem
  .spaceForm
    display: block
    opacity: 1
  #floatBlock
    transform: translateY(-100%)
    &.low
      transform: translateY(0%)
      transition: transform 1s ease .5s
  .contentListItem
    &-List
      border-left: 1px solid var(--type-color)
      border-right: 1px solid var(--type-color)
    &-Column
      @media screen and ( max-width: 1282px)
        flex-basis: 25%
        &.agency
          display: none
      @media screen and ( max-width: 1282px)
        flex-basis: 33.3%
        &.year
          flex-basis: 4.51rem
    &-Header
      position: relative
      top: auto
      left: auto
      right: auto
      border-top: 1px solid var(--type-color)
      border-bottom: 1px solid var(--type-color)
      border-left: 1px solid var(--type-color)
      border-right: 1px solid var(--type-color)
      margin-bottom: -1px
      .spaceForm
        top: -1px
    &-Filter
      border-top: 1px solid var(--type-color)
      border-left: 1px solid var(--type-color)
      border-right: 1px solid var(--type-color)
      position: relative
      top: auto
      left: auto
      right: auto
      .title
        flex-shrink: 1
      .spaceForm
        top: -1px
    &-Text
      border-left: 1px solid var(--type-color)
      border-right: 1px solid var(--type-color)
  .imageGrid-Item
    border-left: 1px solid var(--type-color)
    border-right: 1px solid var(--type-color)

// Spacemode transition
main // Reverse
  transition: padding-top 1s ease, padding-left .5s ease, padding-right .5s ease, padding-bottom .5s ease
  section
    transition: max-width .5s ease, width .5s ease
  .view
    transition: max-width .5s ease, width .5s ease
    &-Index
      transition: padding-top 0s ease
  #floatBlock
    transition: transform 0s ease

main.spaced // Initial
  transition: background 0s ease .5s, padding-top 1s ease .5s, padding-left 1s ease .5s, padding-right 1s ease .5s, padding-bottom 1s ease 1.5s
  section
    transition: max-width 1s ease .5s, width 1s ease .5s, top 1s ease 1s
  .view
    transition: max-width 1s ease .5s, width 1s ease .5s
    &-Index
      transition: padding-top .5s ease
  #floatBlock
    transition: transform 1s ease 1.5s

// Mobile / Desktop
.mobileContent
  @media screen and ( min-width: 700px)
    display: none
