@font-face {
  font-family: "Sohne Regular";
  src: url("~assets/fonts/Sohne-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sohne Medium";
  src: url("~assets/fonts/Sohne-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
