@import '~/assets/styling/variables.sass'

// GENERAL
html, body, #__layout, #__nuxt, main, .transitionWrapper, .view, .page // Avoiding 100vh to better suit mobile browsers
  position: relative
  height: 100%

main
  display: flex
  flex-direction: column
  align-items: center

img
  opacity: 0
  width: 100%

img[lazy="loaded"]
  opacity: 1

// THEME
.background
  position: fixed
  background: var(--background-color)
  transition: background $transition-theme .2s
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  pointer-events: none
.spaced
  .background
    transition: background 0s ease
    background: var(--background-space)

// SPACED
.spaceWrapper
  position: relative
  width: 100%
  max-width: 100%
  background: var(--background-color)
  margin-top: 0
  padding-top: 30vh
  z-index: 1 // Gives a higher stack than the background
  transition: max-width $transition-space-sideways, margin-top $transition-space-vertical, margin-bottom $transition-space-vertical, padding-top $transition-space-vertical, background $transition-theme
  p, a, input
    color: var(--type)
.spaced
  .spaceWrapper
    max-width: 1200px
    margin-top: calc(30vh + 200px)
    padding-top: 0
.grid, .projectItem-Images
  li:first-child
    margin-top: 0
    transition: margin-top $transition-space-vertical
.projectItem-Text
  margin-top: 0
.spaced
  .grid, .projectItem-Images
    li
      margin-bottom: var(--spacing-two) !important
    li:first-child
      margin-top: var(--spacing-two)
  .projectItem-Text
    margin-top: var(--spacing-two)

.spaceForm
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 200px
  width: 100%
  transform: translateY(-100%)
  background: var(--background-color)
  border-bottom: 1px solid var(--background-color)
  transition: border-bottom $transition-theme, background $transition-theme
  z-index: +2
  &::before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: 0
    border-left: 0vh solid var(--background-space)
    border-bottom: 200px solid transparent
    transition: border-left $transition-space-sideways
  &::after
    content: ""
    position: absolute
    top: 0
    bottom: 0
    right: 0
    border-right: 0vh solid var(--background-space)
    border-bottom: 200px solid transparent
    transition: border-right $transition-space-sideways
.spaced
  .spaceForm
    border-bottom: 1px solid var(--type)
    transition: border-bottom .2s ease .3s
    &::before
      border-left: 150px solid var(--background-space)
    &::after
      border-right: 150px solid var(--background-space)

// MESSENGES
.messages
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 999
  pointer-events: none
  &-Item
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -25%)
    border: 1px solid var(--type)
    color: var(--support-type)
    background: var(--support-color)
    border-radius: 1000px
    padding-left: 30px
    padding-right: 30px
    opacity: 0
    text-align: center
    transition: opacity $transition-messages, transform $transition-messages
  &.activeOne
    .messages-Item:nth-child(1)
      opacity: 1
      transform: translate(-50%, -50%)
  &.activeTwo
    .messages-Item:nth-child(2)
      opacity: 1
      transform: translate(-50%, -50%)
  &.activeThree
    .messages-Item:nth-child(3)
      opacity: 1
      transform: translate(-50%, -50%)
  &.activeFour
    .messages-Item:nth-child(4)
      opacity: 1
      transform: translate(-50%, -50%)

// BUILDING BLOCKS
.icon
  position: relative
  opacity: 1
  height: 1.25em
  width: 1.25em
  svg, img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: auto
  &.space
    #fire
      opacity: 0
    &:hover
      @media ( hover: hover )
        animation: vibrate .3s infinite
        #fire
          animation: flicker .1s infinite
          opacity: 1

.textItem
  position: relative
  text-align: center
  padding: var(--spacing-two)
  margin: auto
  min-height: 0
  .markdown, a
    width: 100%
  a
    text-decoration: underline
  &-Container
    display: flex
    position: relative
    height: 100%

// INDEX
.list
  display: flex
  flex-direction: column
  flex-shrink: 0
  width: 100%
  min-height: 0
  .listItem
    position: relative
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    min-height: 0
    &-DetailsWrapper
      display: flex
      flex-grow: 1
      align-items: center
      padding-right: var(--spacing-two)
    &-Details
      flex-shrink: 0
      flex-basis: calc(100% / 4)
      padding-left: var(--spacing-two)
      padding-top: var(--spacing-one)
      padding-bottom: var(--spacing-one)
      cursor: pointer
      min-height: 0
      &.active
        a, p, input
          opacity: 1
          color: var(--support-color)
      @media screen and ( max-width: $breakpoint-tablet)
        flex-basis: auto
        padding-right: var(--spacing-two)
      &:nth-child(1)
        @media screen and ( max-width: $breakpoint-tablet)
          width: calc(#{var(--spacing-three)} + 2.6em)
    &-Category
      @media screen and ( max-width: $breakpoint-tablet)
        display: none
    &-Icons
      position: absolute
      top: 0
      right: 0
      bottom: 0
      display: flex
      .icon-Container
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        height: 100%
        padding-left: var(--spacing-two)
        padding-right: var(--spacing-two)
        color: var(--type)
    &_Project
      border-top: 1px var(--type) solid
      cursor: pointer
      &:hover
        @media ( hover: hover )
          background: var(--support-color)
          a, p, svg
            color: var(--support-type)
    &_Filter
      border-top: 0
      p, input::placeholder, svg, input
        opacity: .25
        transition: opacity $transition-hover, color $transition-hover
      .listItem-Details
        &:hover
          @media ( hover: hover )
            p
              opacity: 1
              color: var(--support-color)
      .listItem-Icons
        input
          opacity: 0
        &.active
          input, svg
            opacity: 1

.grid
  display: flex
  flex-direction: column
  justify-content: flex-start
  flex-shrink: 0
  min-height: 0
  img
    transition: opacity $transition-lazy
  li
    cursor: pointer
    width: 100%
    min-height: 0
    align-self: center
  @media screen and ( min-width: $breakpoint-mobile)
    li:nth-child(2)
      width: calc((100% / 3) * 2)
      align-self: flex-end
    li:nth-child(3)
      width: calc(100% / 3)
      align-self: flex-start
    li:nth-child(4)
      width: calc((100% / 3) * 2)
      align-self: flex-start
    li:nth-child(5)
      width: calc(100% / 3)
      align-self: flex-end
    li:nth-child(6)
      width: 100%
      align-self: flex-end
    li:nth-child(7)
      width: calc((100% / 3) * 2)
      align-self: flex-end
    li:nth-child(8)
      width: calc((100% / 3) * 2)
      align-self: flex-start
    li:nth-child(9)
      width: calc(100% / 3)
      align-self: flex-end
    li:nth-child(10)
      width: calc((100% / 3) * 2)
      align-self: flex-end
    li:last-child
      width: calc((100% / 3) * 2)
      align-self: flex-start
  @media screen and ( max-width: $breakpoint-mobile)
    li
      width: 100%
.spaced
  .grid
    @media screen and ( min-width: $breakpoint-mobile)
      li:nth-child(1)
        width: calc(((100% - (2 * #{var(--spacing-two)})) / 3) * 3)
      li:nth-child(2)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 2)
        margin-right: var(--spacing-two)
      li:nth-child(3)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 1)
        align-self: flex-start
        margin-left: var(--spacing-two)
      li:nth-child(4)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 2)
        align-self: flex-start
        margin-left: var(--spacing-two)
      li:nth-child(5)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 1)
        margin-right: var(--spacing-two)
      li:nth-child(6)
        width: calc(((100% - (2 * #{var(--spacing-two)})) / 3) * 3)
        align-self: center
      li:nth-child(7)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 2)
        margin-right: var(--spacing-two)
      li:nth-child(8)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 2)
        align-self: flex-start
        margin-left: var(--spacing-two)
      li:nth-child(9)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 1)
        margin-right: var(--spacing-two)
      li:nth-child(10)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 2)
      li:nth-child(11)
        width: calc(((100% - (2 * #{var(--spacing-two)})) / 3) * 3)
        align-self: center
      li:last-child
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 2)
        margin-left: var(--spacing-two)

// VIEWS
.view
  width: 100%
  &-Container
    position: relative
    display: flex
    flex-direction: column
    align-items: center
  &-Index
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
  &-Project
    width: 100%
    .projectItem
      &-Text
        padding-left: var(--spacing-two)
        padding-right: var(--spacing-two)
        margin-bottom: var(--spacing-two)
        @media screen and ( max-width: $breakpoint-mobile)
          margin-bottom: var(--spacing-three)
      &-Nav
        position: fixed
        top: 50vh
        padding: var(--spacing-two)
        transform: translateY(-50%)
        color: white
        mix-blend-mode: difference
        z-index: +1
        .icon
          width: 2.5em
        &_Prev
          left: 0
          svg
            transform: rotate(180deg)
        &_Next
          right: 0
      &-Images
        display: flex
        flex-direction: column
        img
          transition: opacity $transition-lazy
        li
          margin-bottom: 1px
          min-height: 0
        li:last-child
          margin-bottom: 0
        @media screen and ( max-width: $breakpoint-mobile)
          li:last-child
            margin-bottom: 0
        @media screen and ( min-width: $breakpoint-mobile)
          li:nth-child(2)
            width: calc((100% / 3) * 2)
            align-self: flex-end
          li:nth-child(3)
            width: calc(100% / 3)
          li:nth-child(4)
            width: calc((100% / 3) * 2)
          li:nth-child(5)
            width: calc(100% / 3)
            align-self: flex-end
main.spaced.four
  .projectItem
    &-Nav
      color: black
.spaced
  .projectItem-Images
    @media screen and ( min-width: $breakpoint-mobile)
      li:nth-child(1)
        width: calc(((100% - (2 * #{var(--spacing-two)})) / 3) * 3)
        align-self: center
      li:nth-child(2)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 2)
        margin-right: var(--spacing-two)
      li:nth-child(3)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 1)
        align-self: flex-start
        margin-left: var(--spacing-two)
      li:nth-child(4)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 2)
        align-self: flex-start
        margin-left: var(--spacing-two)
      li:nth-child(5)
        width: calc(((100% - (3 * #{var(--spacing-two)})) / 3) * 1)
        margin-right: var(--spacing-two)