@import '~/assets/styling/variables.sass'

// GENERAL
html, body, #__layout, #__nuxt, main, .transitionWrapper, .view, .page // Avoiding 100vh to better suit mobile browsers
  position: relative
  height: 100%

main
  display: flex
  flex-direction: column
  align-items: center
  background: black // TEMP

img
  opacity: 0
  width: 100%

img[lazy="loaded"]
  opacity: 1

// THEME
.background
  position: fixed
  background: var(--background-color)
  transition: background $transition-theme
  will-change: background
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  pointer-events: none
.spaced
  .background
    background: var(--background-space)

// SPACED
.spaceWrapper
  width: 100%
  max-width: 100%
  transition: max-width $transition-space-sideways, margin-top $transition-space-vertical
  background: var(--background-color) // TEMP
  margin-top: 0
  z-index: 1 // Gives a higher stack than the background
.spaced
  .spaceWrapper
    max-width: 1000px
    margin-top: 30vh

// MESSENGES
.messages
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 999
  pointer-events: none
  &-Item
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border: 1px solid var(--type)
    background: var(--support-color)
    border-radius: 1000px
    padding-left: 30px
    padding-right: 30px
    opacity: 0
    transition: opacity $transition-general, transform $transition-general
  &.activeOne
    .messages-Item:nth-child(1)
      opacity: 1
  &.activeTwo
    .messages-Item:nth-child(2)
      opacity: 1
  &.activeThree
    .messages-Item:nth-child(3)
      opacity: 1
  &.activeFour
    .messages-Item:nth-child(4)
      opacity: 1

// BUILDING BLOCKS
.icon
  position: relative
  opacity: 1
  height: 1.25em
  width: 1.25em
  svg, img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: auto

.textItem
  position: relative
  text-align: center
  color: var(--type)
  padding: var(--spacing-two)
  margin: auto
  min-height: 0
  .markdown, a
    width: 100%
  a
    text-decoration: underline
  &-Container
    display: flex
    position: relative
    height: 100%

// INDEX
.list
  display: flex
  flex-direction: column
  flex-shrink: 0
  width: 100%
  min-height: 0
  .listItem
    position: relative
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    min-height: 0
    &-DetailsWrapper
      display: flex
      flex-grow: 1
      align-items: center
      padding-right: var(--spacing-two)
    &-Details
      flex-shrink: 0
      flex-basis: calc(100% / 4)
      padding-left: var(--spacing-two)
      padding-top: var(--spacing-one)
      padding-bottom: var(--spacing-one)
      cursor: pointer
      min-height: 0
      p, a, input
        color: var(--type)
      &.active
        a, p, input
          opacity: 1
          color: var(--support-color)
      @media screen and ( max-width: $breakpoint-tablet)
        flex-basis: auto
        padding-right: var(--spacing-two)
      &:nth-child(1)
        @media screen and ( max-width: $breakpoint-tablet)
          width: calc(#{var(--spacing-three)} + 2.6em)
    &-Category
      @media screen and ( max-width: $breakpoint-tablet)
        display: none
    &-Icons
      position: absolute
      top: 0
      right: 0
      bottom: 0
      display: flex
      .icon-Container
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        height: 100%
        padding-left: var(--spacing-two)
        padding-right: var(--spacing-two)
        color: var(--type)
    &_Project
      border-top: 1px var(--type) solid
      cursor: pointer
      &:hover
        @media ( hover: hover )
          background-color: var(--support-color)
          a, p, svg
            color: var(--support-type)
    &_Filter
      border-top: 0
      p, input::placeholder, svg, input
        opacity: .25
        transition: opacity $transition-fade
      .listItem-Icons
        input
          opacity: 0
        &.active
          input, svg
            opacity: 1

.grid
  display: flex
  flex-direction: column
  justify-content: flex-start
  flex-shrink: 0
  min-height: 0
  img
    transition: opacity $transition-lazy
  li
    cursor: pointer
    width: 100%
    min-height: 0
  li:first-child img
    opacity: 1
  @media screen and ( min-width: $breakpoint-mobile)
    li:nth-child(2)
      width: calc((100% / 3) * 2)
      align-self: flex-end
    li:nth-child(3)
      width: calc(100% / 3)
    li:nth-child(4)
      width: calc((100% / 3) * 2)
    li:nth-child(5)
      width: calc(100% / 3)
      align-self: flex-end
    li:nth-child(6)
      width: 100%
      align-self: flex-end
    li:nth-child(7)
      width: calc((100% / 3) * 2)
      align-self: flex-end
    li:nth-child(8)
      width: calc((100% / 3) * 2)
    li:nth-child(9)
      width: calc(100% / 3)
      align-self: flex-end
    li:nth-child(10)
      width: calc((100% / 3) * 2)
      align-self: flex-end
    li:last-child
      width: calc((100% / 3) * 2)
      align-self: flex-start
  @media screen and ( max-width: $breakpoint-mobile)
    li
      width: 100%

// VIEWS
.view
  width: 100%
  &-Container
    position: relative
    display: flex
    flex-direction: column
    align-items: center
  &-Index
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 30vh
    width: 100%
    // @media screen and ( max-width: $breakpoint-mobile)
      // padding-top: 40vmin
  &-Project
    padding-top: 30vh
    width: 100%
    // @media screen and ( max-width: $breakpoint-mobile)
      // padding-top: 40vmin
    .projectItem
      &-Text
        position: fixed
        top: 0
        left: 0
        right: 0
        padding-left: var(--spacing-two)
        padding-right: var(--spacing-two)
        padding-top: 30vh
        padding-bottom: var(--spacing-two)
        color: var(--type)
        @media screen and ( max-width: $breakpoint-mobile)
          margin-bottom: var(--spacing-three)
      &-Nav
        position: fixed
        top: 50vh
        padding: var(--spacing-two)
        transform: translateY(-50%)
        color: white
        mix-blend-mode: difference
        z-index: +1
        .icon
          width: 2.5em
        &_Prev
          left: 0
          svg
            transform: rotate(180deg)
        &_Next
          right: 0
      &-Images
        position: absolute
        left: 0
        right: 0
        top: 300px
        display: flex
        flex-direction: column
        img
          transition: opacity $transition-lazy
        li
          margin-bottom: 1px
          min-height: 0
        li:first-child
          img
            transition: none
        li:last-child
          margin-bottom: 0
        @media screen and ( max-width: $breakpoint-mobile)
          li:last-child
            margin-bottom: 0
        @media screen and ( min-width: $breakpoint-mobile)
          li:nth-child(2)
            width: calc((100% / 3) * 2)
            align-self: flex-end
          li:nth-child(3)
            width: calc(100% / 3)
          li:nth-child(4)
            width: calc((100% / 3) * 2)
          li:nth-child(5)
            width: calc(100% / 3)
            align-self: flex-end
