@import '~/assets/styling/variables.sass'
@import '~/assets/styling/variables.sass'

// Page
.pageFade-enter-active, .pageFade-leave-active
  transition: opacity $transition-page

.pageFade-enter, .pageFade-leave-to
  opacity: 0

// indexView
.indexView-enter-active, .indexView-leave-active
  transition: opacity $transition-index

.indexView-enter, .indexView-leave-to
  opacity: 0
