@import '~/assets/styling/variables.sass'

// view
.view-enter-active
  transition: transform $transition-slide-in

.view-leave-active
  transition: transform $transition-slide-out

.view-enter, .view-leave-to
  transform: translateY(100%)

// Fade
.fade-enter-active, .fade-leave-active
  transition: opacity $transition-fade

.fade-enter, .fade-leave-to
  opacity: 0

// Page
.page-enter-active
  transition: transform $transition-slide-in

.page-leave-active
  transition: transform $transition-slide-out

.page-enter
  transform: translateX(100%)

.page-leave-to
  transform: translateX(-100%)