@import '~/assets/styling/variables.sass'

// view
.view-enter-active
  transition: transform $transition-slide-in

.view-leave-active
  transition: transform $transition-slide-out

.view-enter, .view-leave-to
  transform: translateY(100%)

// Page
.page-enter-active
  transition: transform $transition-slide-in

.page-leave-active
  transition: transform $transition-slide-out

.page-enter
  transform: translateX(100%)

.page-leave-to
  transform: translateX(-100%)