// https://type-scale.com/
@import '~/assets/styling/variables.sass'

@font-face
  font-family: 'Moderat'
  src: url('~assets/fonts/Moderat-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Moderat'
  src: url('~assets/fonts/Moderat-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal

h1, h2, h3, p, a, a:link, a:visited, a:hover, a:active
  font-family: "Moderat", Helvetica, Arial, sans-serif
  font-size: 18px
  line-height: 1.5
  color: $font-color
  white-space: pre-line
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  max-width: $font-maxwidth

a
  color: $font-color
  text-decoration: none

a:hover, a:active, .nuxt-link-exact-active a
  text-decoration: underline

strong, em
  font-weight: bold
