// https://type-scale.com/
@import '~/assets/styling/variables.sass'

html, body
  // https://css-tricks.com/snippets/css/fluid-typography/
  font-size: 17px
  // font-size: calc(19px + (22 - 19) * ((100vw - 700px) / (1400 - 700)))
  font-size: calc(17px + (19 - 17) * ((100vw - 700px) / (1400 - 700)))

h1, h2, h3, p
  max-width: $font-maxwidth
  overflow-wrap: break-word
  word-wrap: break-word
  word-break: break-word
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto

h1, h2, h3, p, a, a:link, a:visited, a:hover, a:active, span, input
  font-family: "Graphik", Helvetica, Arial, sans-serif
  font-size: 1em
  line-height: 1.5
  color: $font-color
  font-style: normal
  font-weight: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  color: $font-color
  text-decoration: none

.ellipsis
  overflow: hidden
  min-width: 0
  text-overflow: ellipsis
  h1, span, p, a
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
