// 1. Base scale non-linear scale https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
// 2. Base scale on fluid typography (em) https://www.creativebloq.com/how-to/design-a-responsive-site-with-em-based-sizing
$spacing-1: 2vmin
$spacing-2: 4vmin
$spacing-3: 8vmin
$spacing-4: 16vmin
$spacing-5: 32vmin

$fontbase: 18px
$lineheight-base: 1.5em
$font-color: #333
$font-maxwidth: 36em

$zindex-interface: 100

$transition-hover: .3s ease
$transition-page: .5s ease
