// 1. Base scale non-linear scale https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
// 2. Base scale on fluid typography (em) https://www.creativebloq.com/how-to/design-a-responsive-site-with-em-based-sizing

$fontbase: 18px
$lineheight-base: 1.5em
$font-color: black
$font-hover: red
$font-hover: #FF4105
$font-maxwidth: 40em

$zindex-header: 300
$zindex-projects: 200
$zindex-footer: 100
$zindex-top: 0

$transition-hover: .2s ease
$transition-lazy: 0s ease
$transition-page: .5s ease

$breakpoint-mobile: 800px
$breakpoint-laptop: 1440px

// Custom variables
body
  --spacing-one: 2vmin
  --spacing-two: 4vmin
  --spacing-three: 8vmin
  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-one: 1em
    --spacing-two: 1em
    --spacing-three: 2em

@mixin opacity($opacity)
  li:nth-child(5)
    opacity: (1 - ($opacity * 1))
  li:nth-child(6)
    opacity: (1 - ($opacity * 2))
  li:nth-child(7)
    opacity: (1 - ($opacity * 3))
  li:nth-child(8)
    opacity: (1 - ($opacity * 4))
  li:nth-child(9)
    opacity: (1 - ($opacity * 5))
  li:nth-child(10)
    opacity: (1 - ($opacity * 6))
  li:nth-child(11)
    opacity: (1 - ($opacity * 7))
  li:nth-child(12)
    opacity: (1 - ($opacity * 8))
  li:nth-child(13)
    opacity: (1 - ($opacity * 9))
  li:nth-child(14)
    opacity: (1 - ($opacity * 10))
  li:nth-child(15)
    opacity: (1 - ($opacity * 11))
  li:nth-child(16)
    opacity: (1 - ($opacity * 12))
  li:nth-child(17)
    opacity: (1 - ($opacity * 13))
  li:nth-child(18)
    opacity: (1 - ($opacity * 14))
  li:nth-child(19)
    opacity: (1 - ($opacity * 15))
  li:nth-child(20)
    opacity: (1 - ($opacity * 16))
    li: nth-child(n+21)
      opacity: (1 - ($opacity * 17))
