// 1. Base scale non-linear scale https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
// 2. Base scale on fluid typography (em) https://www.creativebloq.com/how-to/design-a-responsive-site-with-em-based-sizing

$fontbase: 18px
$lineheight-base: 1.5em
$font-maxwidth: 40em

$color-support-white: #6E33FF
$color-font-white: white
$color-support-lightgrey: #00FE65
$color-font-lightgrey: black
$color-support-darkgrey: #DDFF01
$color-font-darkgrey: black
$color-support-black: #E43C01
$color-font-black: black

// Transitions
$transition-hover: .2s ease
$transition-lazy: .2s ease-in // Page + image fade-in's
$transition-theme: .2s ease-in
$transition-space-sideways: .2s ease
$transition-space-vertical: .3s ease-in .2s
$transition-block-float: .33s ease-in
$transition-block-float-border: .33s ease-in

// Breakpoints
$breakpoint-header: 750px
$breakpoint-mobile: 800px
$breakpoint-tablet: 1024px
$breakpoint-laptop: 1440px

// Indexes
$zindex-spaceform: 0
$zindex-section: 2
$z-index-pseudoheader: 3
$z-index-nav: 999

// Custom variables
body
  --spacing-one: 2vmin
  --spacing-two: 4vmin
  --spacing-three: 8vmin
  --spacing-four: 16vmin
  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-one: 1em
    --spacing-two: 1em
    --spacing-three: 2em
    --spacing-four: 4em

// Support colors
body, body.one
  --background-color: white
  --type: black
  --background-space: black
  --support-color: #6E33FF
  --support-type: white
body.two
  --background-color: #A8A9AD
  --type: black
  --background-space: black
  --support-color: #00FE65
  --support-type: black
body.three
  --background-color: #424242
  --type: white
  --background-space: white
  --support-color: #DDFF01
  --support-type: black

@keyframes hyperLink
  0%
    width: 0%
  100%
    width: 100%

@keyframes hyperHyperLink
  0%
    width: 100%
    left: auto
    right: 0
  50%
    width: 0%
    left: auto
    right: 0
  51%
    width: 0%
    left: 0
    right: auto
  100%
    left: 0
    right: auto
    width: 100%